
<%- include ("include/_header") %>

    <div class="max-w-4xl mx-auto">
      <a href="/add-user" class="bg-blue-500 text-white px-4 py-2 rounded">Add User</a>
    <table class="w-full border-collapse bg-white shadow-md">
      <thead>
        <tr class="bg-gray-100">
          <th class="p-3 text-left">ID</th>
          <th class="p-3 text-left">Name</th>
          <th class="p-3 text-left">Email</th>
          <th class="p-3 text-left">Gender</th>
          <th class="p-3 text-left">Status</th>
          <th class="p-3 text-left">Actions</th>
        </tr>
      </thead>
      <tbody>
      <%- include ("include/_show") %>

      </tbody>
      </table>
      </div>
      <%- include ("include/_footer") %>

      