
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../assets/css/output.css" rel="stylesheet" />
  <title>User Management</title>
</head>
<body class="bg-gray-200 p-10">
  <header>
    <nav class="">
      <div class="flex justify-center items-center mb-5">
        <h1 class="text-2xl font-bold">User Management</h1>
      </div>
    </nav>
  </header>  